{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Management System</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="{%static '/css/bootstrap.css'%}">
    <!-- CSS Files-->
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css" media="all" />


</head>

<body>
    <div id="page-container">
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-expand-lg">
            <img src="{% static 'images/logo.PNG' %}" alt="logo" width="120" height="50">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Warehouse Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/">Admin</a>
                        </li>
                        {% if not user.is_authenticated %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customer
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'customerSignup' %}">Register</a>
                                <a class="dropdown-item" href="{% url 'customerlogin' %}">Login</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Supplier
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'supplierSignup' %}">Register</a>
                                <a class="dropdown-item" href="{% url 'supplierlogin' %}">Login</a>
                            </div>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}">Products</a>
                        </li>
                        {% endif %}
                        {% if request.user.groups.all.0.name == 'supplier' %}
                        <li class="nav-item flowtright">
                            <a class="nav-link" type="button" class="btn btn-default btn-space navbar-btn navbar-right"
                                href="{% url 'supplierpage' %}">Supplier Page</a>
                        </li>
                        {% endif %}
                        {% if request.user.groups.all.0.name == 'supplier' %}
                        <li class="nav-item flowtright">
                            <a class="nav-link" type="button" class="btn btn-default btn-space navbar-btn navbar-right"
                                href="{% url 'stockrequests' %}">Stock Requests</a>
                        </li>
                        {% endif %}

                        {% if request.user.groups.all.0.name == 'customer' %}
                        <li class="nav-item flowtright">
                            <a class="nav-link" type="button" class="btn btn-default btn-space navbar-btn navbar-right"
                                href="{% url 'customerpage' %}">Customer Page</a>
                        </li>
                        {% endif %}
                        {% if request.user.groups.all.0.name == 'customer' %}
                        <li class="nav-item flowtright">
                            <a class="nav-link" type="button" class="btn btn-default btn-space navbar-btn navbar-right"
                                href="{% url 'orderdelivery' %}">Order Deliveries</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if request.user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'userlogout' %}">Logout
                                <strong>{{request.user.username}}</strong></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey !! </strong> {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="container-fluid block-container">
            {% block content %}


            {% endblock %}
        </div>

        <footer id="footer" class="page-footer font-small">
            <div class="footer-copyright text-center py-3">
                <a href="#"> © 2021 Copyright: Warehouse Management System</a>
            </div>
        </footer>
        <!-- Footer -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>

</body>

</html>